In [1]:
from mesa import Agent, Model
from mesa.space import NetworkGrid
from mesa.time import RandomActivation
from mesa.datacollection import DataCollector
import networkx as nx
import graph_init
import pandas as pd
import station as st

import network_example as ne
import numpy as np
import pathfinding as pf

Could not import SolaraViz. If you need it, install with 'pip install --pre mesa[viz]'

In [2]:
class Commuter(Agent):
    def __init__(self, model, current_pos, distance_left, intermediate_node, destination):
        super().__init__(model)
        self.destination = destination # The agent's destination
        self.intermediate_node = intermediate_node # The agent's intermediate node needed to reach the destination
        self.distance_left = distance_left # The distance left to the intermediate node, in terms of time
        self.current_pos = current_pos # The agent's current position
        self.biking = False # Whether the agent is currently biking
        self.stopwatch = 0 # The agent's stopwatch, used to measure time spent completing a trip
        self.walking_time = pf.walk_cost(self.model.grid.G, self.current_pos, self.destination, walk_multiplier=self.model.walking_multiplier) # The time it takes to walk to the destination directly from the initial destination
        self.time_saved = [[self.walking_time]] # List of lists, where each list contains the time needed to walk directly, and time actually spent walking/biking

        assert self.model.grid.G.nodes[self.current_pos]['type'] == 'destination', "Agent must start at a destination"
        
    def step(self):
        # update the agent's position and stopwatch for current trip
        self.current_pos = self.model.get_node(self)
        self.stopwatch += 1

        # If the agent has reached the intermediate node, set new start node
        if self.distance_left <= 0:
            # If the agent has reached the intermediate node, set new start node
            self.current_pos = self.intermediate_node
            self.model.grid.move_agent(self, self.current_pos)

            # Return bike if the agent is at the intended station and there are spots available
            # if self.biking and self.model.grid.G.nodes[self.current_pos]['type'] == 'station' and self.model.grid.G.nodes[self.current_pos]['data'].get_spot_availability():
            #     self.model.grid.G.nodes[self.current_pos]['data'].return_bike()
            #     self.biking = False

            # If the agent has reached the destination, set new destination
            # Else, the agent will rent a bike if it is at a station and there are bikes available
            if self.current_pos == self.destination:
                self.time_saved[-1].append(self.stopwatch)
                self.stopwatch = 0
                self.destination = self.model.sample_destination(self.current_pos)
                self.walking_time = pf.walk_cost(self.model.grid.G, self.current_pos, self.destination, walk_multiplier=self.model.walking_multiplier)
                self.time_saved.append([self.walking_time])
            elif not(self.biking) and self.model.grid.G.nodes[self.current_pos]['type'] == 'station' and self.model.grid.G.nodes[self.current_pos]['data'].get_bike_availability():
                self.model.grid.G.nodes[self.current_pos]['data'].rent_bike()
                self.biking = True
            elif self.biking and self.model.grid.G.nodes[self.current_pos]['type'] == 'station' and self.model.grid.G.nodes[self.current_pos]['data'].get_spot_availability():
                self.model.grid.G.nodes[self.current_pos]['data'].return_bike()
                self.biking = False

            # Set new intermediate node
            if self.model.grid.G.nodes[self.current_pos]['type'] == 'destination':
                path = pf.pathfind(self.model.grid.G, self.current_pos, self.destination, False, walk_multiplier=self.model.walking_multiplier)
            else:
                bike = self.model.grid.G.nodes[self.current_pos]['data'].get_bike_availability()
                path = pf.pathfind(self.model.grid.G, self.current_pos, self.destination, bike, walk_multiplier=self.model.walking_multiplier)

            self.intermediate_node = path[0]

            if path[1]:
                self.distance_left = self.model.grid.G[self.current_pos][self.intermediate_node]['weight']
            else:
                self.distance_left = self.model.grid.G[self.current_pos][self.intermediate_node]['weight'] * self.model.walking_multiplier
        else:
            self.distance_left -= 1        

    
    def get_agent_position(self):
        return self.current_pos
    
    def get_distance_left(self):
        return self.distance_left
    
    def get_agent_destination(self):
        return self.destination
    
    def get_intermediate_node(self):
        return self.intermediate_node
    
    def get_stopwatch(self):
        return self.stopwatch
    
    def get_station_info(self):
        if self.model.grid.G.nodes[self.current_pos]['type'] == 'station':
            return self.model.grid.G.nodes[self.current_pos]['data'].available_bikes
        else:
            return "at dest"
    
    def get_next_station_info(self):
        if self.model.grid.G.nodes[self.intermediate_node]['type'] == 'station':
            return self.model.grid.G.nodes[self.intermediate_node]['data'].available_bikes
        else:
            return "no intermed"
    
    def get_all_station_info(self):
        numword = {0: 'zero', 1: 'one', 2: 'two', 3: 'three', 4: 'four'}
        return [f"{numword[station]}: {self.model.grid.G.nodes[station]['data'].available_bikes}" for station in self.model.stations]

    def bike_boolean(self):
        return self.biking

class MyModel(Model):
    def __init__(self, n_agents, seed=None):
        # Initialize the model, set up random seeds for mesa and numpy
        super().__init__(seed=seed)
        self.rng = np.random.default_rng(seed)

        # graph initialization and time multiplier for walking
        g = ne.basic_graph()[0]
        self.walking_multiplier = 3
        self.grid = NetworkGrid(g)
        
        # data collector
        self.datacollector = DataCollector(
            agent_reporters={"Position": lambda agent: agent.get_agent_position(),
                             "Distance_Left": lambda agent: agent.get_distance_left(),
                             "Intermediate_Node": lambda agent: agent.get_intermediate_node(),
                             "Destination": lambda agent: agent.get_agent_destination(),
                             "Stopwatch": lambda agent: agent.get_stopwatch(),
                            #  "Cur Station Capacity": lambda agent: agent.get_station_info(),
                            #  "Next Station Capacity": lambda agent: agent.get_next_station_info(),
                             "All Station Capacity": lambda agent: agent.get_all_station_info(),
                             "Biking": lambda agent: agent.bike_boolean()
                             })
        
        # storing all stations and destination node indices
        self.stations = pf.get_stations(self.grid.G)
        self.destinations = pf.get_destinations(self.grid.G)

        # destination weights for sampling
        self.destination_w = ne.basic_weights()

        # Create agents and place them on the grid
        for i in range(1, n_agents + 1):
            node_id = self.random.choice(self.destinations)
            destination_node = self.sample_destination(node_id)
            path = pf.pathfind(self.grid.G, node_id, destination_node, False, walk_multiplier=self.walking_multiplier)
            intermediate_node = path[0]
            distance_left = self.grid.G[node_id][intermediate_node]['weight'] * self.walking_multiplier

            commuter = Commuter(self, current_pos=node_id, distance_left=distance_left, intermediate_node=intermediate_node, destination=destination_node)

            self.grid.place_agent(commuter, node_id)
            
        self.datacollector.collect(self)
    
    def get_node(self, agent):
        """
        Returns the node ID of the given agent if it is found in the grid

        Parameters
        ----------
        agent : Agent
            The agent whose node ID is to be found

        Returns
        -------
        node_id : int
            The node ID of the given agent
        """
        # Iterate over all node IDs in the graph
        for node_id in self.grid.G.nodes():
            # Get the agents at the current node
            agents_at_node = self.grid.get_cell_list_contents([node_id])
            # If the given agent is found at this node, return the node ID
            if agent in agents_at_node:
                return node_id
        return None  # If the agent is not found in any node

    def sample_destination(self, current_pos):
        """
        Sample a destination for an agent to travel to

        Parameters
        ----------
        current_pos : int
            The current position index of the agent
        
        Returns
        -------
        destination: int
            The destination node index
        """
        while True:
            destination = self.rng.choice(self.destinations, p=ne.basic_weights())
            if destination != current_pos:
                return destination
            
    def assign_bikes(self, bike_counts):
        """
            For each station, assign a number of bikes to the station

            Parameters
            ----------
            bike_counts : dict
                A dictionary where the keys are station indices and the values are the number of bikes to be assigned to the station

            Returns
            -------
            None
        """
        for station in self.stations:
            assert station in bike_counts, "All stations must be assigned a number of bikes"
            self.grid.G.nodes[station]['data'].assign_bikes(bike_counts[station])

    def step(self):
        self.agents.shuffle_do("step")
        self.datacollector.collect(self)

In [ ]:
# model testing for 1 agent; looks to be working correctly.
model = MyModel(1, seed=1)
for i in range(1000):
    # print(model.agents[0].get_agent_position(), model.agents[0].get_distance_left(), model.agents[0].get_agent_destination(), model.agents[0].get_intermediate_node())
    model.step()
    
agent_data = model.datacollector.get_agent_vars_dataframe()
agent_id = 1
agent_specific_data = agent_data[agent_data.index.get_level_values('AgentID') == agent_id]
pd.set_option('display.max_rows', None)
agent_specific_data[['Position', 'Distance_Left', 'Intermediate_Node', 'Destination', 'All Station Capacity']]
display(agent_specific_data[['Distance_Left', "Position", 'Intermediate_Node', 'Destination', 'All Station Capacity', 'Biking']]
)

In [ ]:
# heres some issues I see: 
# i made the network_example graphs have stations(5,1) meaning each station has capcity 5 and 1 bike.
# look at step 16. Agent 1 and 2 should not want to go the destination after they get to their step 16, they should want to go to 
# the next station. pathfind seems wrong. and they are biking, but the distance is like 37 which seems too high for biking

# agent 3's pathfind also seems wrong, it should want to go in a diagonal line from 6 to 2 to 0 to 4, but rather 6 2 3 4. 
# theres an issue also not just with that pathfind - the agent 3's biking boolean is false at node 2 to 3, but it is 
# biking according to its speed (it has 8 distance left)

In [4]:
# testing now whether the model works with multiple agents

model = MyModel(3, seed=1)
for i in range(1000):
    model.step()

agent_data = model.datacollector.get_agent_vars_dataframe()
agent_data

              Position  Distance_Left  Intermediate_Node  Destination  \
Step AgentID
0    1               5      15.000000                  1            6
     2               4      15.000000                  0            7
     3               6      15.000000                  2            4
1    1               5      14.000000                  1            6
     2               4      14.000000                  0            7
     3               6      14.000000                  2            4
2    1               5      13.000000                  1            6
     2               4      13.000000                  0            7
     3               6      13.000000                  2            4
3    1               5      12.000000                  1            6
     2               4      12.000000                  0            7
     3               6      12.000000                  2            4
4    1               5      11.000000                  1            6
     2               4      11.000000                  0            7
     3               6      11.000000                  2            4
5    1               5      10.000000                  1            6
     2               4      10.000000                  0            7
     3               6      10.000000                  2            4
6    1               5       9.000000                  1            6
     2               4       9.000000                  0            7
     3               6       9.000000                  2            4
7    1               5       8.000000                  1            6
     2               4       8.000000                  0            7
     3               6       8.000000                  2            4
8    1               5       7.000000                  1            6
     2               4       7.000000                  0            7
     3               6       7.000000                  2            4
9    1               5       6.000000                  1            6
     2               4       6.000000                  0            7
     3               6       6.000000                  2            4
10   1               5       5.000000                  1            6
     2               4       5.000000                  0            7
     3               6       5.000000                  2            4
11   1               5       4.000000                  1            6
     2               4       4.000000                  0            7
     3               6       4.000000                  2            4
12   1               5       3.000000                  1            6
     2               4       3.000000                  0            7
     3               6       3.000000                  2            4
13   1               5       2.000000                  1            6
     2               4       2.000000                  0            7
     3               6       2.000000                  2            4
14   1               5       1.000000                  1            6
     2               4       1.000000                  0            7
     3               6       1.000000                  2            4
15   1               5       0.000000                  1            6
     2               4       0.000000                  0            7
     3               6       0.000000                  2            4
16   1               1      37.107951                  6            6
     2               0      37.107951                  7            7
     3               2      18.000000                  3            4
17   1               1      36.107951                  6            6
     2               0      36.107951                  7            7
     3               2      17.000000                  3            4
18   1               1      35.107951                  6            6
     2               0      35.107951                  7            7
     3               2      16.000000                  3            4
19   1               1      34.107951                  6            6
     2               0      34.107951                  7            7
     3               2      15.000000                  3            4
20   1               1      33.107951                  6            6
     2               0      33.107951                  7            7
     3               2      14.000000                  3            4
21   1               1      32.107951                  6            6
     2               0      32.107951                  7            7
     3               2      13.000000                  3            4
22   1               1      31.107951                  6            6
     2               0      31.107951                  7            7
     3               2      12.000000                  3            4
23   1               1      30.107951                  6            6
     2               0      30.107951                  7            7
     3               2      11.000000                  3            4
24   1               1      29.107951                  6            6
     2               0      29.107951                  7            7
     3               2      10.000000                  3            4
25   1               1      28.107951                  6            6
     2               0      28.107951                  7            7
     3               2       9.000000                  3            4
26   1               1      27.107951                  6            6
     2               0      27.107951                  7            7
     3               2       8.000000                  3            4
27   1               1      26.107951                  6            6
     2               0      26.107951                  7            7
     3               2       7.000000                  3            4
28   1               1      25.107951                  6            6
     2               0      25.107951                  7            7
     3               2       6.000000                  3            4
29   1               1      24.107951                  6            6
     2               0      24.107951                  7            7
     3               2       5.000000                  3            4
30   1               1      23.107951                  6            6
     2               0      23.107951                  7            7
     3               2       4.000000                  3            4
31   1               1      22.107951                  6            6
     2               0      22.107951                  7            7
     3               2       3.000000                  3            4
32   1               1      21.107951                  6            6
     2               0      21.107951                  7            7
     3               2       2.000000                  3            4
33   1               1      20.107951                  6            6
     2               0      20.107951                  7            7
     3               2       1.000000                  3            4
34   1               1      19.107951                  6            6
     2               0      19.107951                  7            7
     3               2       0.000000                  3            4
35   1               1      18.107951                  6            6
     2               0      18.107951                  7            7
     3               3       8.000000                  0            4
36   1               1      17.107951                  6            6
     2               0      17.107951                  7            7
     3               3       7.000000                  0            4
37   1               1      16.107951                  6            6
     2               0      16.107951                  7            7
     3               3       6.000000                  0            4
38   1               1      15.107951                  6            6
     2               0      15.107951                  7            7
     3               3       5.000000                  0            4
39   1               1      14.107951                  6            6
     2               0      14.107951                  7            7
     3               3       4.000000                  0            4
40   1               1      13.107951                  6            6
     2               0      13.107951                  7            7
     3               3       3.000000                  0            4
41   1               1      12.107951                  6            6
     2               0      12.107951                  7            7
     3               3       2.000000                  0            4
42   1               1      11.107951                  6            6
     2               0      11.107951                  7            7
     3               3       1.000000                  0            4
43   1               1      10.107951                  6            6
     2               0      10.107951                  7            7
     3               3       0.000000                  0            4
44   1               1       9.107951                  6            6
     2               0       9.107951                  7            7
     3               0      15.000000                  4            4
45   1               1       8.107951                  6            6
     2               0       8.107951                  7            7
     3               0      14.000000                  4            4
46   1               1       7.107951                  6            6
     2               0       7.107951                  7            7
     3               0      13.000000                  4            4
47   1               1       6.107951                  6            6
     2               0       6.107951                  7            7
     3               0      12.000000                  4            4
48   1               1       5.107951                  6            6
     2               0       5.107951                  7            7
     3               0      11.000000                  4            4
49   1               1       4.107951                  6            6
     2               0       4.107951                  7            7
     3               0      10.000000                  4            4
50   1               1       3.107951                  6            6
     2               0       3.107951                  7            7
     3               0       9.000000                  4            4
51   1               1       2.107951                  6            6
     2               0       2.107951                  7            7
     3               0       8.000000                  4            4
52   1               1       1.107951                  6            6
     2               0       1.107951                  7            7
     3               0       7.000000                  4            4
53   1               1       0.107951                  6            6
     2               0       0.107951                  7            7
     3               0       6.000000                  4            4
54   1               1      -0.892049                  6            6
     2               0      -0.892049                  7            7
     3               0       5.000000                  4            4
55   1               6      48.000000                  5            5
     2               7      15.000000                  3            5
     3               0       4.000000                  4            4
56   1               6      47.000000                  5            5
     2               7      14.000000                  3            5
     3               0       3.000000                  4            4
57   1               6      46.000000                  5            5
     2               7      13.000000                  3            5
     3               0       2.000000                  4            4
58   1               6      45.000000                  5            5
     2               7      12.000000                  3            5
     3               0       1.000000                  4            4
59   1               6      44.000000                  5            5
     2               7      11.000000                  3            5
     3               0       0.000000                  4            4
60   1               6      43.000000                  5            5
     2               7      10.000000                  3            5
     3               4      48.000000                  7            7
61   1               6      42.000000                  5            5
     2               7       9.000000                  3            5
     3               4      47.000000                  7            7
62   1               6      41.000000                  5            5
     2               7       8.000000                  3            5
     3               4      46.000000                  7            7
63   1               6      40.000000                  5            5
     2               7       7.000000                  3            5
     3               4      45.000000                  7            7
64   1               6      39.000000                  5            5
     2               7       6.000000                  3            5
     3               4      44.000000                  7            7
65   1               6      38.000000                  5            5
     2               7       5.000000                  3            5
     3               4      43.000000                  7            7
66   1               6      37.000000                  5            5
     2               7       4.000000                  3            5
     3               4      42.000000                  7            7
67   1               6      36.000000                  5            5
     2               7       3.000000                  3            5
     3               4      41.000000                  7            7
68   1               6      35.000000                  5            5
     2               7       2.000000                  3            5
     3               4      40.000000                  7            7
69   1               6      34.000000                  5            5
     2               7       1.000000                  3            5
     3               4      39.000000                  7            7
70   1               6      33.000000                  5            5
     2               7       0.000000                  3            5
     3               4      38.000000                  7            7
71   1               6      32.000000                  5            5
     2               3      10.000000                  1            5
     3               4      37.000000                  7            7
72   1               6      31.000000                  5            5
     2               3       9.000000                  1            5
     3               4      36.000000                  7            7
73   1               6      30.000000                  5            5
     2               3       8.000000                  1            5
     3               4      35.000000                  7            7
74   1               6      29.000000                  5            5
     2               3       7.000000                  1            5
     3               4      34.000000                  7            7
75   1               6      28.000000                  5            5
     2               3       6.000000                  1            5
     3               4      33.000000                  7            7
76   1               6      27.000000                  5            5
     2               3       5.000000                  1            5
     3               4      32.000000                  7            7
77   1               6      26.000000                  5            5
     2               3       4.000000                  1            5
     3               4      31.000000                  7            7
78   1               6      25.000000                  5            5
     2               3       3.000000                  1            5
     3               4      30.000000                  7            7
79   1               6      24.000000                  5            5
     2               3       2.000000                  1            5
     3               4      29.000000                  7            7
80   1               6      23.000000                  5            5
     2               3       1.000000                  1            5
     3               4      28.000000                  7            7
81   1               6      22.000000                  5            5
     2               3       0.000000                  1            5
     3               4      27.000000                  7            7
82   1               6      21.000000                  5            5
     2               1      15.000000                  5            5
     3               4      26.000000                  7            7
83   1               6      20.000000                  5            5
     2               1      14.000000                  5            5
     3               4      25.000000                  7            7
84   1               6      19.000000                  5            5
     2               1      13.000000                  5            5
     3               4      24.000000                  7            7
85   1               6      18.000000                  5            5
     2               1      12.000000                  5            5
     3               4      23.000000                  7            7
86   1               6      17.000000                  5            5
     2               1      11.000000                  5            5
     3               4      22.000000                  7            7
87   1               6      16.000000                  5            5
     2               1      10.000000                  5            5
     3               4      21.000000                  7            7
88   1               6      15.000000                  5            5
     2               1       9.000000                  5            5
     3               4      20.000000                  7            7
89   1               6      14.000000                  5            5
     2               1       8.000000                  5            5
     3               4      19.000000                  7            7
90   1               6      13.000000                  5            5
     2               1       7.000000                  5            5
     3               4      18.000000                  7            7
91   1               6      12.000000                  5            5
     2               1       6.000000                  5            5
     3               4      17.000000                  7            7
92   1               6      11.000000                  5            5
     2               1       5.000000                  5            5
     3               4      16.000000                  7            7
93   1               6      10.000000                  5            5
     2               1       4.000000                  5            5
     3               4      15.000000                  7            7
94   1               6       9.000000                  5            5
     2               1       3.000000                  5            5